{% extends 'base.html' %}
{% load static %}

{% block page_title %} {{page_title}} {% endblock %}

{% block links %}
    <link rel="stylesheet" href="{% static 'dashboard/css/index.css' %}">
{% endblock %}

{% block main %}
    {% if posts %}
    <div class="row row-cols-1 row-cols-md-3 g-4 p-3">
        {% for post in posts %}
        <div class="col">
            <div class="card h-100 col p-0">
                <a href="{% url 'dashboard:edit_post' post.id %}" id="post{{ post.id }}">
                    <img class="card-img-top" src="{{ post.cover_image.url }}" alt="Cover image of the post.">
                </a>
                <div class="card-body" >
                    <p class="card-text text-dark">{{ post.content|truncatechars:100 }}</p>
                </div>
                <div class="card-footer d-flex justify-content-between">
                    <a href="{% url 'dashboard:edit_post' post.id %}" class="btn btn-dark text-decoration-none">Edit</a>
                    <button class="btn btn-dark" data-toggle="modal" data-target="#deleteModal">Delete</button>

                    <!-- Delete modal -->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="deleteModalTitle">Delete post?</h5>
                            <button type="button" class="close border-0" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                Are you sure that you want to delete your own.
                                Think carefully before deleting.
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <a href="{% url 'dashboard:delete_post' post.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                        </div>
                    </div>
</div>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <div class="text-center mt-5">
            <h3>There are no posts created by you</h3>
            <p>Want to create a post. Tap to this <a href="{% url 'dashboard:create_post' %}">link</a></p>
        </div>
    {% endif %}
</div>

{% endblock %}

{% block scripts %}
<script src="{% static 'dashboard/js/index.js' %}"></script>
{% endblock %}